<mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark bg-blue scrolling-navbar" [containerInside]="false">
  <logo>
    <a class="logo navbar-brand" href="#"><strong>Navbar</strong></a>
  </logo>
  <links>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active waves-light" mdbRippleRadius>
        <a class="nav-link">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item waves-light" mdbRippleRadius>
        <a class="nav-link">Features</a>
      </li>
      <li class="nav-item waves-light" mdbRippleRadius>
        <a class="nav-link">Pricing</a>
      </li>
      <li class="nav-item waves-light" mdbRippleRadius>
        <a class="nav-link">Opinions</a>
      </li>
    </ul>
    <ul class="navbar-nav nav-flex-icons">
      <li class="nav-item waves-light" mdbRippleRadius>
        <a class="nav-link"><i class="fa fa-facebook"></i></a>
      </li>
      <li class="nav-item waves-light" mdbRippleRadius>
        <a class="nav-link"><i class="fa fa-twitter"></i></a>
      </li>
      <li class="nav-item waves-light" mdbRippleRadius>
        <a class="nav-link"><i class="fa fa-instagram"></i></a>
      </li>
    </ul>
  </links>
</mdb-navbar>
<!-- Main -->
<main>
  <div class="container" style="height:1300px;">
    <!--Section: Features v.3-->
    <section class="section feature-box pt-5">
      <!--Section heading-->
      <h1 class="section-heading pt-4">Why is it so great?</h1>
      <!--Section description-->
      <p class="section-description lead grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum quisquam eum porro a pariatur accusamus veniam. Quia, minima?</p>
      <!--Grid row-->
      <div class="row features-small pt-5">
        <!--Grid column-->
        <div class="col-lg-5 mb-r center-on-small-only">
          <img src="https://mdbootstrap.com/img/Mockups/Transparent/Small/ipad-portfolio2.png" alt="" class="img-fluid z-depth-0 animated bounce">
        </div>
        <!--Grid column-->
        <!--Grid column-->
        <div class="col-lg-7">
          <!--Grid row-->
          <div class="row pb-3">
            <div class="col-2 col-md-1">
              <i class="fa fa-bank blue-text"></i>
            </div>
            <div class="col-10">
              <h5 class="feature-title">Safety</h5>
              <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda deleniti hic.</p>
            </div>
          </div>
          <!--Grid row-->
          <!--Grid row-->
          <div class="row pb-3">
            <div class="col-2 col-md-1">
              <i class="fa fa-code blue-text"></i>
            </div>
            <div class="col-10">
              <h5 class="feature-title">Technology</h5>
              <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda deleniti hic.</p>
            </div>
          </div>
          <!--Grid row-->
          <!--Grid row-->
          <div class="row pb-3">
            <div class="col-2 col-md-1">
              <i class="fa fa-money blue-text"></i>
            </div>
            <div class="col-10">
              <h5 class="feature-title">Finance</h5>
              <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda deleniti hic.</p>
            </div>
          </div>
          <!--Grid row-->
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </section>
    <!--Section: Features v.3-->

    <!--Section: Team v.3-->
    <section class="section team-section pb-3">

      <!--Section heading-->
      <h2 class="section-heading h1 pt-4">Our amazing team</h2>
      <!--Section description-->
      <p class="section-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum quisquam eum porro a pariatur accusamus veniam.</p>

      <!--Grid row-->
      <div class="row mb-lg-4 center-on-small-only">

        <!--Grid column-->
        <div class="col-lg-6 col-md-12 mb-r">

          <div class="col-md-6 float-left">
            <div class="avatar">
              <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(32).jpg" class="z-depth-1" alt="First sample avatar image">
            </div>
          </div>

          <div class="col-md-6 float-right">
            <h4><strong>John Doe</strong></h4>
            <h6 class="font-bold grey-text mb-4">Web Designer</h6>
            <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic tenetur.</p>

            <!--Facebook-->
            <a class="icons-sm fb-ic"><i class="fa fa-facebook"> </i></a>
            <!--Twitter-->
            <a class="icons-sm tw-ic"><i class="fa fa-twitter"> </i></a>
            <!--Dribbble-->
            <a class="icons-sm dribbble-ic"><i class="fa fa-dribbble"> </i></a>
          </div>

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-6 col-md-12 mb-r">

          <div class="col-md-6 float-left">
            <div class="avatar">
              <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(19).jpg" class="z-depth-1" alt="Second sample avatar image">
            </div>
          </div>

          <div class="col-md-6 float-right">
            <h4><strong>Maria Kate</strong></h4>
            <h6 class="font-bold grey-text mb-4">Photographer</h6>
            <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic tenetur.</p>

            <!--Facebook-->
            <a class="icons-sm fb-ic"><i class="fa fa-facebook"> </i></a>
            <!--YouTube-->
            <a class="icons-sm yt-ic"><i class="fa fa-youtube"> </i></a>
            <!--Instagram-->
            <a class="icons-sm ins-ic"><i class="fa fa-instagram"> </i></a>
          </div>

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

      <!--Grid row-->
      <div class="row center-on-small-only">

        <!--Grid column-->
        <div class="col-lg-6 col-md-12 mb-r">

          <div class="col-md-6 float-left">
            <div class="avatar">
              <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(30).jpg" class="z-depth-1" alt="Fourth sample avatar image">
            </div>
          </div>

          <div class="col-md-6 float-right">
            <h4><strong>Anna Deynah</strong></h4>
            <h6 class="font-bold grey-text mb-4">Web Developer</h6>
            <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic tenetur.</p>

            <!--Facebook-->
            <a class="icons-sm fb-ic"><i class="fa fa-facebook"> </i></a>
            <!--Twitter-->
            <a class="icons-sm tw-ic"><i class="fa fa-twitter"> </i></a>
            <!--GitHub-->
            <a class="icons-sm git-ic"><i class="fa fa-github"> </i></a>
          </div>

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-6 col-md-12 mb-r">
          <div class="col-md-6 float-left">
            <div class="avatar">
              <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(33).jpg" class="z-depth-1" alt="Fifth sample avatar image">
            </div>
          </div>

          <div class="col-md-6 float-right">
            <h4><strong>Sarah Melyah</strong></h4>
            <h6 class="font-bold grey-text mb-4">Front-end Developer</h6>
            <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic tenetur.</p>

            <!--Google +-->
            <a class="icons-sm gplus-ic"><i class="fa fa-google-plus"> </i></a>
            <!--LinkedIn-->
            <a class="icons-sm li-ic"><i class="fa fa-linkedin"> </i></a>
            <!--Email-->
            <a class="icons-sm email-ic"><i class="fa fa-envelope"> </i></a>
          </div>

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

    </section>
    <!--Section: Team v.3-->
  </div>
</main>
